stepper_GUI/Content/Ex2/Stepper-V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ST-StepsInFlow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ST-StepInFlow" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-Stepper">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ST-Flows"/>
				<xs:element name="ST-ThreadPool" type="xs:int"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-StepInFlow">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="alias" type="xs:string"/>
			<xs:attribute name="continue-if-failing" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-Flows">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ST-Flow" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-FlowOutput" type="xs:string"/>
	<xs:element name="ST-FlowLevelAliasing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ST-FlowLevelAlias" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-FlowLevelAlias">
		<xs:complexType>
			<xs:attribute name="step" type="xs:string" use="required"/>
			<xs:attribute name="source-data-name" type="xs:string" use="required"/>
			<xs:attribute name="alias" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-Flow">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ST-FlowOutput"/>
				<xs:element ref="ST-CustomMappings" minOccurs="0"/>
				<xs:element ref="ST-FlowLevelAliasing" minOccurs="0"/>
				<xs:element ref="ST-Continuations" minOccurs="0"/>
				<xs:element ref="ST-InitialInputValues" minOccurs="0"/>
				<xs:element ref="ST-StepsInFlow"/>
				<xs:element name="ST-FlowDescription" type="xs:string"/>
			</xs:all>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-CustomMappings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ST-CustomMapping" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-CustomMapping">
		<xs:complexType>
			<xs:attribute name="target-step" type="xs:string" use="required"/>
			<xs:attribute name="target-data" type="xs:string" use="required"/>
			<xs:attribute name="source-step" type="xs:string" use="required"/>
			<xs:attribute name="source-data" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-Continuations">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="ST-Continuation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-Continuation-Mapping">
		<xs:complexType>
			<xs:attribute name="target-data" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TIME_TO_SPEND"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="source-data" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-Continuation">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="ST-Continuation-Mapping" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="target-flow" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-InitialInputValues">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="ST-InitialInputValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ST-InitialInputValue">
		<xs:complexType>
			<xs:attribute name="input-name" type="xs:string" use="required"/>
			<xs:attribute name="initial-value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
